.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

div {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.form {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.form-input,
.form-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-input:focus,
.form-select:focus {
  border-color: #007bff;
  outline: none;
}

.password-toggle {
  position: absolute;
  top: 67%;
  right: 0px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  font-size: 16px;
}

.password-toggle:hover {
  color: #007bff;
  background: none;
}

.form-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form-button:hover {
  background-color: #0056b3;
}

.password-field {
  position: relative;
}

.password-toggle .fa-eye,
.password-toggle .fa-eye-slash {
  color: #007bff;
  font-size: 16px;
}

.password-field .form-input {
  padding-right: 40px;
}